.cardTeam {
	background-color: #0b3a42;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.header-team h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	align-items: center;
	margin-top: 6vh;
	color: #20c5baf2;
}

.card-team-container {
	position: relative;
	width: 90%;
	margin: 50px auto 0;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;
}

.card-team-container .card-team {
	position: relative;
	background: #cccccc;
	overflow: hidden;
	border-radius: 10px;
	transition: 0.5s;
	height:75vh;
}
.card-team-container .card-team:hover {
	transform: translateY(-20px);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card-team-container .card-team .img-card-team {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.card-team-container .card-team:hover .img-card-team {
	opacity: 0.5;
}
.card-team-container .card-team .img-card-team img {
	width: 100%;
  height: auto;
}

.card-team-container .card-team .content-card-team {
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -100%;
	padding: 20px;
	padding-top: 60px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.card-team-container .card-team:hover .content-card-team {
	
	bottom: 0;
}
.card-team-container .card-team:nth-child(1) .content-card-team {
	background: linear-gradient(0deg, #0b3a42, transparent);

}
.card-team-container .card-team:nth-child(2) .content-card-team {
	background: linear-gradient(0deg, #0b3a42, transparent);
}
.card-team-container .card-team:nth-child(3) .content-card-team {
	background: linear-gradient(0deg, #0b3a42, transparent);
}

.card-team-container .card-team .content-card-team h2 {
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 20px;
}

.card-team-container .card-team .content-card-team h2 span {
	color: #ffbb01;
	font-size: 16px;
}
.card-team-container .card-team .content-card-team p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}
.card-team-container .card-team .content-card-team ul {
	display: flex;
	margin: 0px 0 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}
.card-team-container .card-team .content-card-team ul li {
	list-style: none;
}

.card-team-container .card-team .content-card-team ul li a {
	color: #fff;
	padding: 0 10px;
	font-size: 18px;
	transition: 0.5s;
}

@media only screen and (min-width: 200px) {
	.card-team-container .card-team .content-card-team p {
    font-size: 12px;

}
	.card-team-container .card-team .img-card-team img {
height:100%;
    margin-top: -0vh;
width:auto;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -100vh;
    padding-top: 10vh;

}
.header-team h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 2vh;
}
.card-team-container {
	margin-top:1vh;
margin-left: 10%;
width: 90%;
height: 80vh;

grid-template-columns: 85%; 
grid-gap: 0.5rem;
align-items: flex-start;
grid-template-rows: 28vh;

}

.card-team-container .card-team {

    height: 28vh;
}
}

@media only screen and (min-width: 320px) and (orientation : portrait){
	.card-team-container .card-team .content-card-team p {
    font-size: 11px;

}
	.card-team-container .card-team .img-card-team img {
height:auto;
    margin-top: -13vh;
width:100%;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -100vh;
    padding-top: 8vh;

}
.header-team h2 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 1vh;
}
.card-team-container {
	margin-top:1vh;
margin-left: 10%;
width: 90%;
height: 80vh;

grid-template-columns: 85%; 
grid-gap: 0.5rem;
align-items: flex-start;
grid-template-rows: 28vh;

}

.card-team-container .card-team {

    height: 28vh;
}
}
@media only screen and (min-width: 320px) and  (orientation : landscape){
	.card-team-container .card-team .content-card-team p {
    font-size: 12px;

}
	.card-team-container .card-team .img-card-team img {
height:auto;
    margin-top: -0vh;
width:100%;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -100vh;
    padding-top: 20vh;

}
.header-team h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 2vh;
}
.card-team-container {
	margin-top:1vh;
margin-left: 10%;
width: 90%;
height: 80vh;

grid-template-columns: 85%; 
grid-gap: 0.5rem;
align-items: flex-start;
grid-template-rows: 28vh;

}

.card-team-container .card-team {
    position: relative;
    background: #cccccc;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    height: 28vh;
    align-content: center;
}
}

@media only screen and (min-width: 480px) and (orientation : portrait){
	.card-team-container .card-team .content-card-team p {
    font-size: 12px;

}
	.card-team-container .card-team .img-card-team img {
height:auto;
    margin-top: -35vh;
width:100%;
}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -100vh;
    padding: 20px;
        padding-top: 20px;
    padding-top: 20vh;

}
.header-team h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 2vh;
}
.card-team-container {
	margin-top:1vh;
margin-left: 10%;
width: 90%;
height: 80vh;

grid-template-columns: 85%; 
grid-gap: 0.5rem;
align-items: flex-start;
grid-template-rows: 28vh;

}

.card-team-container .card-team {
    position: relative;
    background: #cccccc;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    height: 28vh;
    align-content: center;
}
}
@media only screen and (min-width: 480px) and  (orientation : landscape){
	.card-team-container .card-team .content-card-team p {
    font-size: 9px;

}
	.card-team-container .card-team .img-card-team img {
		 height: 100%;

    margin-top: 0vh;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -100vh;
    padding-top: 20vh;

}
.header-team h2 {
    font-size: 10px;
    font-weight: 600;
    margin-top: 1vh;
}
.card-team-container {
	position: relative;
	width: 90%;
	margin: 20px auto 0;
	height: 75vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;

}

.card-team-container .card-team {

    height: 75vh;
}
}

@media only screen and (min-width: 768px)and (orientation : portrait) {
	.card-team-container .card-team .content-card-team p {
    font-size: 18px;

}
	.card-team-container .card-team .img-card-team img {

    margin-top: -31vh;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -110%;

    padding-top: 16vh;

}
.header-team h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 5vh;
}
.card-team-container {
	margin-top:1vh;
margin-left: 10%;
width: 90%;
height: 80vh;

grid-template-columns: 85%; 
grid-gap: 0.5rem;
align-items: flex-start;
grid-template-rows: 28vh;

}

.card-team-container .card-team {
    position: relative;
    background: #cccccc;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    height: 28vh;
    align-content: center;
}
}
@media only screen and (min-width: 768px)and  (orientation : landscape) {
	.card-team-container .card-team .content-card-team p {
    font-size: 15px;

}
	.card-team-container .card-team .img-card-team img {
width:100%;
height:auto;
    margin-top: 0vh;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -130%;

    padding-top: 20vh;

}
.header-team h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 1vh;
}
.card-team-container {
	position: relative;
	width: 90%;
	margin: 30px auto 0;
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;

}

.card-team-container .card-team {

    height: 70vh;

}
}

@media only screen and (min-width: 992px)and (orientation : portrait) {
	.card-team-container .card-team .content-card-team p {
    font-size: 18px;

}
	.card-team-container .card-team .img-card-team img {
    width: auto;
    height: 100%;
    margin-top: 0vh;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -110%;

    padding-top: 40vh;

}
.header-team h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 5vh;
}
.card-team-container {
	position: relative;
	width: 90%;
	margin: 50px auto 0;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;
}

.card-team-container .card-team {
    position: relative;
    background: #cccccc;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    height: 70vh;
    align-content: center;
}
}
@media only screen and (min-width: 992px)and  (orientation : landscape) {
	.card-team-container .card-team .content-card-team p {
    font-size: 18px;

}
	.card-team-container .card-team .img-card-team img {
  width: 100%;
margin-top: 0vh;

}
	
	
	
	.card-team-container .card-team .content-card-team {

    width: 100%;
    height: 124%;
    bottom: -110%;

    padding-top: 40vh;

}
.header-team h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 5vh;
}
.card-team-container {
	position: relative;
	width: 90%;
	margin: 50px auto 0;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;
}

.card-team-container .card-team {
    position: relative;
    background: #cccccc;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    height: 70vh;
    align-content: center;
}
}
