.footersection {
	/* display: flex; */
	min-height: 100vh;
	/* background: #1270a3; */
	justify-content: center;
}
.header-scroll h2 {
	width: 100%;
	color: #333;
	font-size: 5vw;
	text-align: center;
	left: 0;
	margin-top: 10px;
	padding: 10px;
}

.slick-slider {
	width: 85% !important;
}
.container-scroll {
	width: 85%;

	height: auto;

	white-space: nowrap;
	margin-bottom: 31%;
	margin-left: 10%;
}
.item {
	width: 100%;
	align-content: center;
}
.item img {
	width: inherit;
}
.flex-container-scroll {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}
.flex-item {
	flex: 0 0 auto;
}

footer {
	width: 100%;
	height: 250px;
	padding-top: 20px;

	text-align: center;
	position: absolute; /*Here's what sticks it*/
	bottom: 0; /*to the bottom of the body/page*/
	left: 0; /*and to the left of the body/page.*/
}

.footer .footercontent .footerpart {
	flex: 1;
	padding: 2%;
}

.footer .footercontent .footerpart about a {
	font-size: 2vw;
	font-weight: 700;
	color: black;
}
.footerlink:hover {
	color: red;
}
.footerlink {
	font-size: 3vw;
}
.footer .footercontent .notion p {
	font-size: 3vw;
	font-weight: 700;
	text-decoration: uppercase;
	color: black;
}

.footer .footercontent .notion span {
	color: teal;
}
.footer .footercontent .footerpart social a {
	font-size: 2vw;
	font-weight: 700;
	color: black;
}
.scmain {
	text-align: center;
	height: 100vh;
	display: flex;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: space-around;
}

.sctitle {
	font-size: 4vw;
}

.scimage {
	height: 100px;
	width: 100px;
	font-size: 25px;
	background: blue;
	margin: 10px;
	display: inline-block;
	line-height: 100px;
}

.scimage-container {
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	width: 50%;
}

.scprev,
.scnext {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	cursor: pointer;
	color: black;
	transition: 0.6s ease;
}

.scnext {
	margin-left: 5px;
}

.scprev {
	margin-right: 5px;
}

.scprev:hover,
.scnext:hover {
	color: #333;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 200px) and (orientation: portrait) {
	.footersection {
		margin-top: 2%;
	}
	.footer {
		margin-top: -15%;
	}

	.footer .footercontent {
	}
}
@media only screen and (min-width: 200px) and (orientation: landscape) {
	.footersection {
		margin-top: 0;
	}
	.footer {
		margin-top: 2%;
		padding: 3%;
	}

	.footer .footercontent {
		display: flex;
	}
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
	.footersection {
		margin-top: -40%;
	}
	.footer {
		margin-top: -15%;
	}

	.footer .footercontent {
	}
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
	.footersection {
		margin-top: 10%;
	}
}

@media only screen and (min-width: 480px) and (orientation: portrait) {
	.footersection {
		margin-top: 5%;
	}
	.footer {
		margin-top: -15%;
	}

	.footer .footercontent {
	}
}
@media only screen and (min-width: 480px) and (orientation: landscape) {
	.footersection {
		margin-top: 4%;
	}
	.footerlink {
		font-size: 1.5vw;
	}
	.footer {
		margin-top: 0%;
		padding: 0%;
	}
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	.footer {
		margin-top: 0%;
		padding: 0%;
	}
	.footer .footercontent {
		height: 400px;
		display: flex;
	}
	.footerlink {
		font-size: 1.5vw;
	}
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
}

@media only screen and (min-width: 992px) and (orientation: portrait) {
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
}
